<h2>Contract Browser</h2>

<%= simple_form_for contracts_path, :method => :get do |f| %>
  <%= f.input :search, label: false, required: false, placeholder: 'ex. Bowman' %>
  <%= f.button :submit, "Search" %>
<% end %>
<br>
<br>
<br>
<%= link_to "Add New", new_contract_path, class: 'btn btn-primary' %>